
@model CineMagic.Facade.Models.Movie.MovieRes

@{
    ViewData["Title"] = "AddMovies";
}

<h1>AddMovies</h1>

<h4>MovieRes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMovies">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <input asp-for="Synopsis" class="form-control" />
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Genre1" class="control-label"></label>
                <input asp-for="Genre1" class="form-control" />
                <span asp-validation-for="Genre1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre2" class="control-label"></label>
                <input asp-for="Genre2" class="form-control" />
                <span asp-validation-for="Genre2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre3" class="control-label"></label>
                <input asp-for="Genre3" class="form-control" />
                <span asp-validation-for="Genre3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerURL" class="control-label"></label>
                <input asp-for="TrailerURL" class="form-control" />
                <span asp-validation-for="TrailerURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterURL" class="control-label"></label>
                <input asp-for="PosterURL" class="form-control" />
                <span asp-validation-for="PosterURL" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Actor1" class="control-label"></label>
                <input asp-for="Actor1" class="form-control" />
                <span asp-validation-for="Actor1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor2" class="control-label"></label>
                <input asp-for="Actor2" class="form-control" />
                <span asp-validation-for="Actor2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor3" class="control-label"></label>
                <input asp-for="Actor3" class="form-control" />
                <span asp-validation-for="Actor3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor4" class="control-label"></label>
                <input asp-for="Actor4" class="form-control" />
                <span asp-validation-for="Actor4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor5" class="control-label"></label>
                <input asp-for="Actor5" class="form-control" />
                <span asp-validation-for="Actor5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Movie" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HomeAdmin">Back to Administrator Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
