<div class="row" style="text-align:center">
    @foreach(var item in @Model)
    {
        <h1>@item.MovieName</h1>
    }
</div>

<div class="row">
    <div class="col-5">
        <div>
            <select>
                <option>Projection Date&Time</option>
                <option>Druga opcija</option>
            </select>
        </div>
        <div>
            <select>
                <option>Available seats</option>
                <option>seat1</option>
                <option>seat2</option>
            </select>
        </div>
        <p>Discount: 10%</p>
        <p>Total: </p>
        <div class="btn-danger">

        </div>
    </div>
    <div class="col-7">
        <img src="@Url.Content("https://www.dorkinghalls.co.uk/wp-content/uploads/2018/11/seating_plans_martineau_hall.jpg")" style="width:200px;height:150px    />
    </div>
</div>

<div class="footer">
</div>