@{
    ViewData["Title"] = "No account";
}
<div class="row">
    <div class="col-6 offset-3">
        <img src="@Url.Content("https://cdn.onlinewebfonts.com/svg/img_453364.png")" style="width:300px;height:300px;margin-left:100px;" />

        <h2 style="text-align:center">We are sorry, you should be logged in your account before booking a ticket.</h2>
        <a href="/Identity/Account/Login">
            <h5 style="margin-left:220px;">Login Now</h5>
        </a>
        <br />
        <br />
        <div class="row">

            <br />
            <br />
            <h5 style="margin-left:60px;">If you don't have an account ---></h5>
            <a href="/Identity/Account/Register">
                <h5>Register Now</h5>
            </a>
        </div>
    </div>
</div>