<b>We are sorry, you should be logged in your account before booking a ticket.</b>
<a href="/Identity/Account/Login">
    <i>Login Now</i>
</a>
<b>If you don't have an account -></b>
<a href="/Identity/Account/Register">
    <i>Register Now</i>
</a>