<h1> Card number is: <b>@Model.CardNumber</b></h1>
<br />
<br />
<br />
<a href="/Administrator/HomeAdmin"
<button type="submit" class="btn btn-primary" id="btn" style="width:350px">Back</button>
</a>
