<body>
    <h1 style="font-family:'Copperplate Gothic'; text-align:center; font-size:50px"> ---------------        About Us        --------------</h1>
    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col">
            <p style="color: orangered; font-family: 'Script MT'; font-size:30px">Hello and Welcome...</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-9">
            <p>
                We are <b><i>CineMagic.</i></b> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                This book is a treatise on the theory of ethics, very popular during the Renaissance.
            </p>
        </div>
        <div class="col col-3">
            <img src="/images/logo_providno_2.png" />
        </div>
    </div>

    <div class="row">
        </br>
        <div class="col">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> <b>What do we offer?</b> </h2>
        </div>
    </div>

    <div class="row">

    </div>
</body>
