<body>
    <h1 style="font-family:'Copperplate Gothic'; text-align:center; font-size:50px"> ---------------        About Us        --------------</h1>
    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col">
            <p style="color: orange; font-family: 'Script MT'; font-size:30px">Hello and Welcome...</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-9">
            <p style="text-align:justify">
                We are <b><i>CineMagic.</i></b> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                This book is a treatise on the theory of ethics, very popular during the Renaissance.
            </p>
        </div>
        <div class="col col-3">
            <img src="/images/logo_providno_2.png" />
        </div>
    </div>
    <div class="row">
        </br>
    </div>
    <img src="https://img.icons8.com/office/16/000000/horizontal-line.png" style="width:1100px; height:7px" />
    <div class="row">
        </br>
    </div>
    <div class="row">
        </br>
        <div class="col" style="text-align:center">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> <b>What do we offer?</b> </h2>
        </div>
    </div>

    <div class="row">
        </br>
    </div>
    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col col-4">
            <img src="https://img.icons8.com/ultraviolet/40/000000/starred-ticket.png" style="margin-left:150px; width:60px; height:60px" />
            </br>
            <p style="text-align:center"><i><b>Online</b> ticket reservation</i></p>
        </div>
        <div class="col col-4">
            <img src="https://img.icons8.com/ultraviolet/40/000000/discount.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
            </br>
            <p style="text-align:center"><i>Special <b>discounts</b> </i></p>
        </div>
        <div class="col col-4">
            <img src="https://img.icons8.com/ultraviolet/40/000000/electronic-identity-card.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
            </br>
            <p style="text-align:center"><i>CineMagic <b>credit card</b></i></p>
        </div>
    </div>
    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col col-4">
            <img src="https://img.icons8.com/ultraviolet/40/000000/movie-projector.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
            </br>
            <p style="text-align:center"><i><b>7 day</b> movie programme</i></p>
        </div>
        <div class="col col-4">
            <img src="https://img.icons8.com/ultraviolet/40/000000/theatre-seat.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
            </br>
            <p style="text-align:center"><i><b>Seat</b> selection</i></p>
        </div>
        <div class="col col-4">
            <img src="https://img.icons8.com/ultraviolet/40/000000/delete-ticket.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
            </br>
            <p style="text-align:center"><i><b>Free</b> ticket cancellation</i></p>
        </div>
    </div>

    <div class="row">
        </br>
    </div>
    <div class="row">
        </br>
    </div>
    
    <img src="https://img.icons8.com/office/16/000000/horizontal-line.png" style="width:1100px; height:7px" />
    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col" style="text-align:right">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> <b>What is CineMagic credit card?</b> </h2>
        </div>
    </div>

    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col col-5">
            <img src="/images/moviecard.png" style="width:380px; height:200px; margin-left:30px" />
        </div>
        <div class="col col-7">
            <p style="text-align:justify">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
            </p>
        </div>
    </div>
</body>
