@{
    ViewData["Title"] = "About Us";
}

    <body>
        <h1 style="font-family:'Copperplate Gothic'; text-align:center; font-size:50px"> ---------------        About Us        --------------</h1>
        <div class="row">
            </br>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: orange; font-family: 'Script MT'; font-size:30px">Hello and Welcome...</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-9">
                <p style="text-align:justify">
                    We are <b><i>CineMagic.</i></b> This website allows users to easily and effortlessly make an online reservation of movie tickets for the movies they want to watch. 
                    The upcoming movies in programme are shown 7 days in advance, including movie schedules and their durations. 
                    The application also offers the possibility of choosing a desired seat in cinema hall, paying by our CineMagic credit card and certain discounts for frequent users. 
                    Stay up to date with current movies, save time and avoid waiting in lines.
                    <br />
                    You can view all the movies and upcoming projection even without an account. However, if you are interested in making a reservation, you have to make an account. It is <b>free.</b> 
                </p>
            </div>
            <div class="col col-3">
                <img src="/images/logo_providno_2.png" />
            </div>
        </div>
        <div class="row">
            </br>
        </div>
        <img src="https://img.icons8.com/office/16/000000/horizontal-line.png" style="width:1100px; height:7px" />
        <div class="row">
            </br>
        </div>
        <div class="row">
            </br>
            <div class="col" style="text-align:center">
                <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> <b>What do we offer?</b> </h2>
            </div>
        </div>

        <div class="row">
            </br>
        </div>
        <div class="row">
            </br>
        </div>
        <div class="row">
            <div class="col col-4">
                <img src="https://img.icons8.com/ultraviolet/40/000000/starred-ticket.png" style="margin-left:150px; width:60px; height:60px" />
                </br>
                <p style="text-align:center"><i><b>Online</b> ticket reservation</i></p>
            </div>
            <div class="col col-4">
                <img src="https://img.icons8.com/ultraviolet/40/000000/discount.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
                </br>
                <p style="text-align:center"><i>Special <b>discounts</b> </i></p>
            </div>
            <div class="col col-4">
                <img src="https://img.icons8.com/ultraviolet/40/000000/electronic-identity-card.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
                </br>
                <p style="text-align:center"><i>CineMagic <b>credit card</b></i></p>
            </div>
        </div>
        <div class="row">
            </br>
        </div>
        <div class="row">
            </br>
        </div>
        <div class="row">
            <div class="col col-4">
                <img src="https://img.icons8.com/ultraviolet/40/000000/movie-projector.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
                </br>
                <p style="text-align:center"><i><b>7 day</b> movie programme</i></p>
            </div>
            <div class="col col-4">
                <img src="https://img.icons8.com/ultraviolet/40/000000/theatre-seat.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
                </br>
                <p style="text-align:center"><i><b>Seat</b> selection</i></p>
            </div>
            <div class="col col-4">
                <img src="https://img.icons8.com/ultraviolet/40/000000/delete-ticket.png" style="        margin-left: 150px;
        width: 60px;
        height: 60px" />
                </br>
                <p style="text-align:center"><i><b>Free</b> ticket cancellation</i></p>
            </div>
        </div>

        <div class="row">
            </br>
        </div>
        <div class="row">
            </br>
        </div>

        <img src="https://img.icons8.com/office/16/000000/horizontal-line.png" style="width:1100px; height:7px" />
        <div class="row">
            </br>
        </div>
        <div class="row">
            <div class="col" style="text-align:right">
                <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> <b>What is CineMagic credit card?</b> </h2>
            </div>
        </div>

        <div class="row">
            </br>
        </div>
        <div class="row">
            <div class="col col-5">
                <img src="/images/moviecard.png" style="width:350px; height:180px; margin-left:30px" />
            </div>
            <div class="col col-7">
                <p style="text-align:justify">
                    To use this application, you also need a CineMagic Credit Card. 
                    You can activate this card by visiting our cinema and emphasizing that you are a new user of our application. 
                    After we create a card for you, you will get the opportunity to pay in a certain amount of money to charge your credit card (10KM = 10 credits). 
                    After that, you will be able to book a ticket for any movie.
                    After selecting the movie and seat, you will need to enter the card number we created for you. 
                    If you have enough funds, your reservation will be successful. Otherwise, you can go to our cinema again and recharge the card.
                </p>
            </div>
        </div>
    </body>
