@{
    ViewData["Title"] = "Now Playing";
}

<body style="        background: url(https://wallpapercrafter.com/uploads/posts/2316-___red-seat-cinema-and-theatre-hd.jpg);
        background-size: 100% 100%;">
    <div class="container-fluid">
        <div class="row" style="background-color: bisque">
            <div class="col-4 col">
                <img class="img-fluid" src="~/images/logo_providno_2.png" alt="Logo" style="width:200px;height:150px; align-content: end">
            </div>
            <div class="col-8 col">
                <div class="row">
                    <div class="col offset-2">
                        <h1 style="font-family: 'Script MT'; align-content:center; font:bolder; font-size:45px">CineMagic</h1>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row offset-1">
                    <p class="text-center" style="font-family: 'Book Antiqua'; align-content:center; font-size: x-large"><strong>This is where magic happens.</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <br />
        </div>
        <div class="row">
            <br />
        </div>


        <div id="carouselFadeExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm">
                            <img class="d-block w-100" src="https://www.movieartarena.com/imgs/hp4ff.jpg" style="width:100px;height:150px" />
                        </div>
                        <div class="col-sm">
                            <img class="d-block w-100" src="https://www.movieartarena.com/imgs/hp4ff.jpg" style="width:100px;height:150px" />
                        </div>
                        <div class="col-sm">
                            <img class="d-block w-100" src="https://www.movieartarena.com/imgs/hp4ff.jpg" style="width:100px;height:150px" />
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm">
                            <img class="d-block w-100" src="https://media.harrypotterfanzone.com/goblet-of-fire-wizarding-world-poster.jpg" style="width:100px;height:150px" />
                        </div>
                        <div class="col-sm">
                            <img class="d-block w-100" src="https://media.harrypotterfanzone.com/goblet-of-fire-wizarding-world-poster.jpg" style="width:100px;height:150px" />
                        </div>
                        <div class="col-sm">
                            <img class="d-block w-100" src="https://media.harrypotterfanzone.com/goblet-of-fire-wizarding-world-poster.jpg" style="width:100px;height:150px" />
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
</body>


























