
    <div class="container-fluid">
        <div class="row">
            <div class="col-7 offset-1">
                <h3><strong>All upcoming reservations in one place</strong></h3>
            </div>
        </div>
        <p>@Model[0].UserTicket.Price</p>

    </div>
