@{
    ViewData["Title"] = "Cancel reservation";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/images/logo_providno_2.png");
            background-repeat: no-repeat;
            background-position: left top;
            background-position: 0px 120px;
            background-attachment: fixed;
        }

        div.polaroid {
            margin-left: 200px;
            width: 800px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>
<body>
    <div class="polaroid" style="background-color:burlywood">
        <div class="row" style="margin-top:65px;text-align:center">
            <div class="col-8">
                <h1 style="margin-top:10px;"> <b style="color:darkorange">DONE</b> </h1>
                <h2 style="        text-align: center;
        vertical-align: middle; color:white; margin-left:15px">
                    Your reservation has been <b>successfully</b> cancelled!
                </h2>
            </div>
            <div class="col-4" style="text-align:center">
                <img class="img-fluid" src="https://img.icons8.com/ios-filled/50/000000/delete-ticket.png" alt="Logo" style="width:100px;height:100px; margin-top:15px; end;vertical-align:top">
            </div>
        </div>
        <div>
            <br />
        </div>
        <div class="row">
            <div class="col-10">
                <p style="margin-left:90px;">Click on a button to find more interesting <b>MOVIES</b>. </p>
                <a href="/Home/PlayingNow">
                    <button type="button" class="btn btn-warning" style="margin-left:200px;"><b>Playing Now</b></button>
                </a>
                <br />
                <br />
            </div>

        </div>

    </div>

</body>
</html>