@{
    ViewData["Title"] = "Successful";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/images/logo_providno_2.png");
            background-repeat: no-repeat;
            background-position: left top;
            background-position: 0px 120px;
            background-attachment: fixed;
        }

        div.polaroid {
            margin-left: 200px;
            width: 800px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>
<body>
    <!--  background: linear-gradient(#93B874 10%, #C9DCB9 70%, #000000 90%); -->
    <!--  background: linear-gradient(to right, rgba(147,184,116,0), rgba(147,184,116,1))  -->
    <div class="polaroid" style="background-color:burlywood">
        <div class="row" style="margin-top:65px;text-align:center">
            <div class="col-8">
                <h1 style="margin-top:10px;"> <b style="color:darkorange">DONE</b> </h1>
                <h2 style="        text-align: center;
        vertical-align: middle; color:white">
                    You have successfully booked a ticket!
                </h2>
            </div>
            <div class="col-4" style="text-align:center">
                <img class="img-fluid" src="https://files.otis.com/otis/en/vn/contentimages/otis-icon-project-management.png" alt="Logo" style="width:150px;height:150px; align-content: end;vertical-align:top">
            </div>
        </div>
        <div>
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-10">
                <p style="margin-left:30px;">If you want to <b>check</b> your <b>Reservation</b> click on <i>main menu</i> option <b>ALL RESERVATIONS</b>. </p>
                <p style="margin-left:30px;">Click on a button and find more interesting <b>MOVIES</b>. </p>
                <a href="/Home/PlayingNow">
                    <button type="button" class="btn btn-warning" style="margin-left:150px;"><b>Playing Now</b></button>
                </a>
                <br />
                <br />
            </div>

        </div>

    </div>

</body>
</html>