<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/images/logo_providno_2.png");
            background-repeat: no-repeat;
            background-position: left top;
            background-position: 0px 70px;
            background-attachment: fixed;
        }
        div.polaroid {
            margin-left:200px;
            width: 800px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }

        
    </style>
</head>
<body>
    <!--  background: linear-gradient(#93B874 10%, #C9DCB9 70%, #000000 90%); -->
    <!--  background: linear-gradient(to right, rgba(147,184,116,0), rgba(147,184,116,1))  -->
    <div class="polaroid">
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>
        <h1>neuspjesno</h1>

    </div>

</body>
</html>